@import url('https://fonts.googleapis.com/css?family=Ubuntu');

$blue: rgb(27, 167, 214);

* {
	
	margin: 0px;
	padding: 0px;
	
}

html, body {

	height: 100%;
	width: 100%;

}

header { z-index: 3; }
main { z-index: 1; }
footer { z-index: 2; }

html {

	body {
		
		display: flex;
		flex-direction: column;
	
		header {
		
			flex: 0 0 auto;
			height: 100px;
			background: $blue;
			box-shadow: 0px -5px 15px 5px black;
			
			.centerer {
				
				display: inline-flex;
				flex-direction: column;
				justify-content: center;
				height: 100%;
				margin-left: 15px;
				
				#headertext {
					
					flex: 0 0 auto;
					white-space: pre-line;
					color: white;
					font-family: 'Ubuntu', monospace;
					
				}
			
			}
			
			h3 {
			
				color: white;
				font-family: 'Ubuntu', monospace;
			
			}
		
		}
		
		.content {
		
			flex: 1 0 auto;
			display: flex;
			flex-direction: column;
			justify-content: center;
			
			div.hoverbox {
				
				position: fixed;
				width: 15%;
				border: 2px solid grey;
				border-radius: 5px;
				background: #cccccc;
				padding: 3px;
				opacity: 0;
				transition: opacity 1s;
				transition-timing-function: ease;
				
				.caret {
					
					position: absolute;
					top: 8px;
					background: #cccccc;
					width: 10px;
					height: 10px;
					transform: rotate(45deg);
					
				}
				
				&.left {
					
					left: 2.5%;
					
					.caret {
						
						border-top-right-radius: 4px;
						right: -7px;
						border-top: 2px solid grey;
						border-right: 2px solid grey;
						
					}
				
				}
				
				&.right {
					
					right: 2.5%;
					
					.caret {
						
						border-bottom-left-radius: 4px;
						left: -7px;
						border-bottom: 2px solid grey;
						border-left: 2px solid grey;
						
					}
					
					p {
						
						text-indent: 7px;
						
					}
				
				}
				
			}
			
			main {
			
				flex: 1 1 auto;
				height: 100%;
				
				$mainWhite: 250;
				background: rgb($mainWhite, $mainWhite, $mainWhite);
				box-shadow: 0px 0px 20px 10px rgb($mainWhite, $mainWhite, $mainWhite);
				
				$mainMargin: 20%;
				margin: {
				
					left: $mainMargin;
					right: $mainMargin;
				
				}
				
				$mainPadding: 5px;
				padding: {
					
					top: $mainPadding;
					bottom: $mainPadding;
					
				}
				
				#articleheader {
				
					margin: 10px;
					margin-top: 30px;
					//text-align: center;
				
				}
				
				#author {
					
					margin: {
					
						left: 10px;
						right: 10px;
						bottom: 10px;
						
					}
				
					&:before {
					
						content: "By: ";
					
					}
				
				}
				
				#date {
					
					font-size: 12px;
					
					margin: {
						
						left: 10px;
						right: 10px;
						bottom: 10px;
						
					}
					
				}
				
				.articleimage {
				
					$articleImageWidth: 94%;
					width: $articleImageWidth;
					padding: {
						
						left: (100% - $articleImageWidth) / 2;
						right: (100% - $articleImageWidth) / 2;
						bottom: 20px;
						
					}
				
				}
				
				#trenchcoatlady {
					
					padding-top: 20px;
					
					$articleImageWidth: 65%;
					width: $articleImageWidth;
					padding: {
						
						left: (100% - $articleImageWidth) / 2;
						right: (100% - $articleImageWidth) / 2;
						top: 20px;
						bottom: 20px;
						
					}
					
				}
				
				p.articletext {
				
					text-indent: 30px;
					text-align: justify;
					line-height: 1.4;
					
					& + p.articletext {
					
						margin-top: 20px;
					
					}
					
					&:last-child {
					
						margin-bottom: 30px;
					
					}
					
					span {
					
						background: #EAEAEA;
					
					}
					
				}
				
				#clickbaitlinks {
				
					margin-top: 20px;
					
					$articleImageWidth: 80%;
					width: $articleImageWidth;
					padding: {
						
						left: (100% - $articleImageWidth) / 2;
						right: (100% - $articleImageWidth) / 2;
						top: 20px;
						bottom: 20px;
						
					}
					
				}
			
			}
		
		}
		
		footer {
		
			flex: 0 0 auto;
			height: 50px;
			background: $blue;
			box-shadow: 0px 5px 15px 5px black;
			
			h4 {
				
				float: right;
				font-weight: normal;
				white-space: pre-line;
				text-align: right;
				padding: 5px;
				padding-right: 10px;
				
			}
		
		}
	
	}
	
}